{extend name="public:base" /}
{block name="header"}
<span class="action-span"><a href="{:url('add')}">添加新商品</a></span>
<span class="action-span1"><a href="">ECSHOP 管理中心</a></span>
<span id="search_id" class="action-span1"> - 商品列表 </span>
<div style="clear:both"></div>
{/block}
{block name="body"}
<div class="list-div" id="listDiv">
<table cellpadding="3" cellspacing="1">
    <tr>
        <th>编号</th>
        <th>属性名称</th>
        <th>所属类型</th>
        <th>属性类型</th>
        <th>录入方式</th>
        <th>默认值</th>
        <th>操作</th>
    </tr>
    {volist name="data" id="vo" key="k"}
    <tr>
        <td align="center">{$k}</td>
        <td align="center">{$vo.attr_name}</td>
        <td align="center" >{$vo.type_name}</td>
        <td align="center"> {eq name="vo.attr_type" value="1"} 唯一属性 {else/} 单选属性 {/eq}</td>
        <td align="center">{eq name="vo.attr_input_type" value="1"}文本框输入{else/}列表选择{/eq}</td>
        <td align="center">{$vo.attr_values}</td>

        <td align="center">
            <a href="{:url('edit','id='.$vo['id'])}" title="编辑"><img src="__STATIC__/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
            <a href="{:url('del','id='.$vo['id'])}" onclick="" title="回收站"><img src="__STATIC__/Images/icon_trash.gif" width="16" height="16" border="0" /></a></td>
    </tr>
    {/volist}
</table>
</div>
{/block}