{extend name="public:base" /}


{block name="header"}
<span class="action-span"><a href="{:url('index')}">商品列表</a>
    </span>
<span class="action-span1"><a href="">ECSHOP 管理中心</a></span>
<span id="search_id" class="action-span1"> - 修改新商品 </span>
<div style="clear:both"></div>
{/block}

{block name="body"}
<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
            <span class="tab-front" id="general-desc">商品描述</span>
            <span class="tab-front" id="general-attr">商品属性</span>
            <span class="tab-front" id="general-attr">商品相册</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="{:url('edit')}" method="post">
            <table width="90%" class="general-table" align="center">
                <tr>
                    <td class="label">商品名称：</td>
                    <td><input type="text" name="goods_name" value="{$data.goods_name}"size="30" />
                        <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">商品货号： </td>
                    <td>
                        <input type="text" name="goods_sn" value="{$data.goods_sn}" size="20"/>
                        <span id="goods_sn_notice"></span><br />
                        <span class="notice-span"id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">商品分类：</td>
                    <td>
                        <select name="cate_id">
                            {foreach name="cate" id="vo"}
                                <option value="{$vo.id}" {if condition="$data['cate_id'] eq $vo['id']"}selected="selected"{/if}>
                                    {$vo.lev|str_repeat='&nbsp',###}{$vo.name}
                                </option>
                            {/foreach}
                        </select>
                        <span class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td class="label">本店售价：</td>
                    <td>
                        <input type="text" name="shop_price" value="{$data.shop_price}" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" name="is_sale" value="1" {if condition="$data['is_sale'] eq 1"}checked="checked"{/if} /> 是
                        <input type="radio" name="is_sale" value="0" {if condition="$data['is_sale'] eq 0"}checked="checked"{/if}/> 否
                    </td>
                </tr>
                <tr>
                    <td class="label">加入推荐：</td>
                    <td>
                        <input type="checkbox" name="is_hot" value="1" {if condition="$data['is_hot'] eq 1"}checked="checked"{/if} /> 热卖
                        <input type="checkbox" name="is_new" value="1" {if condition="$data['is_new'] eq 1"}checked="checked"{/if}/> 新品
                        <input type="checkbox" name="is_rec" value="1" {if condition="$data['is_rec'] eq 1"}checked="checked"{/if}/> 推荐
                    </td>
                </tr>

                <tr>
                    <td class="label">市场售价：</td>
                    <td>
                        <input type="text" name="market_price" value="{$data.shop_price}" size="20" />
                    </td>
                </tr>

                <tr>
                    <td class="label">商品图片：</td>
                    <td>
                        <input type="file" name="goods_img" size="35" />
                    </td>
                </tr>
                <tr>
                    <td class="label">商品描述：</td>
                    <td>
                        <textarea name="goods_body" cols="40" rows="3">{$data.goods_body}</textarea>
                    </td>
                </tr>
            </table>
            <table width="90%" class="general-table" align="center" style="display: none">
                <tr>
                    <td class="label">商品描述</td>
                    <td>
                        <script id="container" name="goods_body" type="text/plain" style="min-height: 300px;"></script>
                        <script type="text/javascript" src="__STATIC__/ueditor/ueditor.config.js"></script>
                        <script type="text/javascript" src="__STATIC__/ueditor/ueditor.all.js"></script>
                        <script type="text/javascript">
                            var ue = UE.getEditor('container');
                        </script>
                    </td>
                </tr>
            </table>
            <table width="90%" class="general-table" style="display:none" align="center">
                <tr>
                    <td class="label">选择类型：</td>
                    <td>
                        <select name="type_id" id="type_id">
                            <option value="0">选择类型</option>
                            {volist name="type" id="vo"}
                            <option value="{$vo.id}" {eq name="attr[0]['type_id']" value="$vo.id"}selected="selected"{/eq}>{$vo.type_name}</option>
                            {/volist}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label" id="showAttr" colspan="2">
                        <table width="90%" align="center">
                            {volist name="attr" id="vo"}
                            <tr>
                                <td class="label">
                                    {if condition="$vo.attr_type eq 2"}
                                    <a href="javascript:" onclick="creatEle(this)">[+]</a>
                                    {/if}
                                    {$vo.attr_name}:
                                </td>
                                <td align="left">
                                    {if condition="$vo.attr_input_type eq 1"}
                                    <input type="text" name="attr[{$vo.id}][]" value="{$vo.attr_value}">
                                    {else /}
                                    <select name="attr[{$vo.id}][]" id="">
                                        {volist name="vo.attr_values" id="v"}
                                        <option value="{$v}" {eq name="vo.attr_value" value="$v"}selected="selected"{/eq}>{$v}</option>
                                        {/volist}
                                    </select>
                                    {/if}
                                </td>
                            </tr>
                            {/volist}
                        </table>
                    </td>
                </tr>
            </table>
            <table width="90%" class="general-table" style="display:none" align="center">
                <tr>
                    <td>
                        {volist name="imgs" id="vo"}
                        <div style="float: left">
                            <img src="/{$vo.goods_img}" alt="" width="100px" height="100px" style="margin-left: 20px">
                            <input type="button" value="删除" class="delImg" data-id="{$vo.id}">
                        </div>
                        {/volist}
                    </td>
                </tr>
                <tr><td><input type="button" value="添加相册"></td></tr>
                <tr><td><input type="file" name=""></td></tr>
            </table>
            <input type="hidden" name="goods_id" value="{$data.id}">
            <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>
{/block}
{block name="js"}
<script src="__STATIC__/js/jquery-1.8.3.min.js"></script>
<script>
    $('#tabbar-div p span').bind('click',function(){
        $('form table').hide();
        var index = $(this).index();
        // console.log($('form table'));
        $('form .general-table').eq(index).show();
        $('form .general-table table').show();
    });
    $('#type_id').change(function(){
        var type_id = $('#type_id').val();
        $.ajax({
            url:"{:url('showAttr')}",
            type:'post',
            data:{
                type_id:type_id,
            },
            success:function(mes){
                $('#showAttr').html(mes);
            }
        });
    });
    function creatEle(obj){
        var tr = $(obj).parent().parent();
        if($(obj).html()=='[+]'){
            var newTr = tr.clone();
            newTr.find('a').html('[-]');
            tr.after(newTr);
        }else{
            tr.remove();
        }
    }
</script>
{/block}